* {
  font-family: 'Open Sans Condensed', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.jumbotron {
  height: 100vh;
  background: none;
}

.myPic {
  height: 250px;
  width: auto;
  border-radius: 50%;
  border: 3px solid maroon;
}

.projectImg {
  height: 400px; 
  width: auto;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px){
  iframe{
  width: auto ;
  height: auto ;
}
}

.parallax {
  background-image: url("http://38.media.tumblr.com/976af251915015111d28c49fc2443b9a/tumblr_natdhxprqV1tn1yz1o1_500.gif");
  min-height: 800px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -75px;
}

